<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <base href="{{ site.data.global.url }}"/>
    <meta name="robots" content="noindex,nofollow,none"/>
    <title>{{ site.data.global.title }}</title>
    <link rel="stylesheet" href="./gen/sass/default.css"/>
  </head>
  <body>
    <div id="wrapper">
      <header id="header">
        <div class="top">
          <h1>
            <a href="{{ site.data.global.url }}">{{ site.data.global.title }}</a>
          </h1>
        </div>
        <nav id="nav">
          <div class="container">
            <a href="./">ホーム</a>
            <a href="./team.html">運営チーム</a>
          </div>
        </nav>
      </header>
      <div id="main">
        <div class="container">
          {{ content }}
        </div>
      </div>
      <footer id="footer">
        &copy; iXouk
      </footer>
    </div>
  </body>
</html>